@font-face {
  font-family: 'Roboto', sans-serif;
          src: url(/fonts/roboto/Roboto-Medium.eot);
          src: url(/fonts/roboto/Roboto-Medium.woff);
          src: url(/fonts/roboto/Roboto-Medium.ttf);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ed1717;
  color: #fff;
}

.time {
  font-size: 36px;
  color: #fff;
  font-weight: 500;
}

.time-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown {
  position: relative;
  width: 275px;
  height: 275px;
  margin: 0 auto;
}

#control-btn {
  position: absolute;
  top: 30%;
  left: 33%;
  width: 100px;
  height: 100px;
  font-size: 33px;
  background-color: inherit;
}

#reset-btn {
  width: 150px;
  height: 60px;
  font-size: 26px;
  background-color: inherit;
  margin: 0px auto;
}

svg {
  width: 300px;
  height: 300px;
  position: absolute;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 1000px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 5px;
  stroke: white;
  fill: none;
  animation-name: countdown;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  /* animation-duration: 100s; */
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 1000px;
  }
}
